# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/outputs.json
**/terraform.tfvars

# Kubernetes
**/kubeconfig
**/.kube/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# Secrets (¡IMPORTANTE!)
**/secrets/
**/*.pem
**/*.key
